* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	color: #003049;
}

html,
body {
	width: 100%;
	height: 100%;
	background-color: #003049;
}

body {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 1.2em;
	padding: 1rem;
}

/* Display Expense */

.total {
	width: 90%;
	min-height: 15vh;
	font-size: 4vmax;
	display: flex;
	padding: 2.2rem;
	gap: 1rem;
	background-color: white;
	align-self: center;
	border-radius: 1rem;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.total-expense {
	flex: 1;
	height: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 3vmax;
}

/* Display the item cards */
.items {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
}

h2 {
	font-size: 4vmax;
	color: #fdf0d5;
	text-align: center;
}

.item-section {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 1rem;
	width: 100%;
}

@media (min-width: 768px) {
	.item-section {
		grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	}
}

.item-card {
	border-radius: 0.6em;
	height: 25vh;
	background-color: white;
	color: #003049;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.2s ease-in;
	cursor: pointer;
}

.item-card:hover {
	transform: translateY(-5px);
}

/* Appending button */

.add-btn {
	position: sticky;
	width: 5vmax;
	height: 5vmax;
	min-height: 3rem;
	min-width: 3rem;
	bottom: 2rem;
	right: 2rem;
	border-radius: 50%;
	border: none;
	background-color: rgb(255, 238, 0, 0.5);
	font-size: 1.7em;
	align-self: flex-end;
	cursor: pointer;
}

.add-btn:hover,
.add-btn:focus {
	background-color: rgb(255, 238, 0);
}

/* Modal */

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0, 0.5);
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-section {
	background-color: whitesmoke;
	padding: 3rem;
	width: 85vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 2rem;
	gap: 2rem;
	font-size: 1.2rem;
}

.modal-item,
.modal-cost,
.modal-count {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
	width: 100%;
}

.modal-section input {
	border: 0;
	height: 3rem;
	width: 100%;
	padding: 1rem;
	font-size: 1.2rem;
	border-radius: 0.5rem;
	outline: none;
}

.modal-total {
	display: flex;
	font-size: 1.5rem;
	width: 100%;
	overflow: hidden;
}

.modal-total-line {
	width: 50%;
	height: 1.2rem;
}

.modal-total-cost {
	padding: 0 2rem;
	flex: 1;
}

.submit-btn {
	width: 90%;
	border: 0;
	border-radius: 2rem;
	background-color: rgb(255, 140, 0);
	color: white;
	font-size: 1.4rem;
	padding: 0.6rem;
	cursor: pointer;
	user-select: none;
}

@media (min-width: 768px) {
	.modal-section {
		width: 60vw;
	}

	.modal-total {
		justify-content: center;
	}

	.modal-total-line {
		text-align: center;
		width: 50%;
	}

	.modal-total-cost {
		width: 50%;
	}
	.submit-btn {
		width: 80%;
	}
}

@media (min-width: 684px) {
	.modal-section {
		min-width: 500px;
		width: 50vw;
		font-size: 1.6rem;
	}

	.modal-section input {
		width: 100%;
	}

	.modal-total {
		justify-content: center;
		font-size: 2rem;
	}

	.modal-total-line {
		text-align: center;
		width: 50%;
	}

	.modal-total-cost {
		width: 50%;
	}
	.submit-btn {
		width: 80%;
	}
}

@media (min-width: 1200px) {
	.modal-section {
		min-width: 560px;
		width: 60vmin;
		font-size: 1.6rem;
	}

	.modal-total {
		font-size: 2rem;
	}
}
